@font-face {
  .ie.ie10#ASUS-features {
    font-family: 'Trade-Gothic-LT-Bold';
    src: url("../font/TradeGothicLTBold.eot");
    src: url("../font/TradeGothicLTBold.eot") format("embedded-opentype"), url("../font/TradeGothicLTBold.woff2") format("woff2"), url("../font/TradeGothicLTBold.woff") format("woff"), url("../font/TradeGothicLTBold.ttf") format("truetype"), url("../font/TradeGothicLTBold.svg#TradeGothicLTBold") format("svg"); } }

@font-face {
  .ie.ie10#ASUS-features {
    font-family: "rogfonts-regular";
    src: url("../font/rogfontsv16-regular.eot");
    src: url("../font/rogfontsv16-regular.eot?#iefix") format("embedded-opentype"), url("../font/rogfontsv16-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; } }

